/node_modules
/public/hot
/public/data/
/public/data/documentos-obligaciones/
/public/storage/data
public/storage
/public/storage/reporte_documento
/public/storage/seguimiento_requerimiento
/public/storage/adjuntos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
